ul, ol {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  color: #232323; }

a, a:hover, a:focus {
  text-decoration: none; }

p {
  margin: 0; }

img {
  max-width: 100%; }

@font-face {
  font-family: 'SVN-Gotham Rounded';
  src: url("../fonts/SVN-GothamRoundedMedium.eot");
  src: url("../fonts/SVN-GothamRoundedMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamRoundedMedium.woff2") format("woff2"), url("../fonts/SVN-GothamRoundedMedium.woff") format("woff"), url("../fonts/SVN-GothamRoundedMedium.ttf") format("truetype"), url("../fonts/SVN-GothamRoundedMedium.svg#SVN-GothamRoundedMedium") format("svg");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'SVN-Gotham Rounded';
  src: url("../fonts/SVN-GothamRounded.eot");
  src: url("../fonts/SVN-GothamRounded.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamRounded.woff2") format("woff2"), url("../fonts/SVN-GothamRounded.woff") format("woff"), url("../fonts/SVN-GothamRounded.ttf") format("truetype"), url("../fonts/SVN-GothamRounded.svg#SVN-GothamRounded") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'SVN-Gotham Rounded';
  src: url("../fonts/SVN-GothamRoundedItalic.eot");
  src: url("../fonts/SVN-GothamRoundedItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamRoundedItalic.woff2") format("woff2"), url("../fonts/SVN-GothamRoundedItalic.woff") format("woff"), url("../fonts/SVN-GothamRoundedItalic.ttf") format("truetype"), url("../fonts/SVN-GothamRoundedItalic.svg#SVN-GothamRoundedItalic") format("svg");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'SVN-Gotham Rounded';
  src: url("../fonts/SVN-GothamRoundedLight.eot");
  src: url("../fonts/SVN-GothamRoundedLight.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamRoundedLight.woff2") format("woff2"), url("../fonts/SVN-GothamRoundedLight.woff") format("woff"), url("../fonts/SVN-GothamRoundedLight.ttf") format("truetype"), url("../fonts/SVN-GothamRoundedLight.svg#SVN-GothamRoundedLight") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'SVN-Gotham Rounded';
  src: url("../fonts/SVN-GothamRoundedLightItalic.eot");
  src: url("../fonts/SVN-GothamRoundedLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamRoundedLightItalic.woff2") format("woff2"), url("../fonts/SVN-GothamRoundedLightItalic.woff") format("woff"), url("../fonts/SVN-GothamRoundedLightItalic.ttf") format("truetype"), url("../fonts/SVN-GothamRoundedLightItalic.svg#SVN-GothamRoundedLightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'SVN-Gotham Rounded';
  src: url("../fonts/SVN-GothamRoundedBold.eot");
  src: url("../fonts/SVN-GothamRoundedBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamRoundedBold.woff2") format("woff2"), url("../fonts/SVN-GothamRoundedBold.woff") format("woff"), url("../fonts/SVN-GothamRoundedBold.ttf") format("truetype"), url("../fonts/SVN-GothamRoundedBold.svg#SVN-GothamRoundedBold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'SVN-Gotham Rounded';
  src: url("../fonts/SVN-GothamRoundedBoldItalic.eot");
  src: url("../fonts/SVN-GothamRoundedBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamRoundedBoldItalic.woff2") format("woff2"), url("../fonts/SVN-GothamRoundedBoldItalic.woff") format("woff"), url("../fonts/SVN-GothamRoundedBoldItalic.ttf") format("truetype"), url("../fonts/SVN-GothamRoundedBoldItalic.svg#SVN-GothamRoundedBoldItalic") format("svg");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'SVN-Gotham Rounded';
  src: url("../fonts/SVN-GothamRoundedMediumItalic.eot");
  src: url("../fonts/SVN-GothamRoundedMediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamRoundedMediumItalic.woff2") format("woff2"), url("../fonts/SVN-GothamRoundedMediumItalic.woff") format("woff"), url("../fonts/SVN-GothamRoundedMediumItalic.ttf") format("truetype"), url("../fonts/SVN-GothamRoundedMediumItalic.svg#SVN-GothamRoundedMediumItalic") format("svg");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: 'UTM Avo';
  src: url("../fontsUTMAvo.eot");
  src: url("../fontsUTMAvo.eot?#iefix") format("embedded-opentype"), url("../fontsUTMAvo.woff2") format("woff2"), url("../fontsUTMAvo.woff") format("woff"), url("../fontsUTMAvo.ttf") format("truetype"), url("../fontsUTMAvo.svg#UTMAvo") format("svg");
  font-weight: normal;
  font-style: normal; }
@-webkit-keyframes hvr-icon-right {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px); }
  33.3% {
    -webkit-transform: translateY(-5px);
    transform: translateX(-5px); }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px); }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px); }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@-webkit-keyframes scroll-down {
  0% {
    transform: translateX(0); }
  50% {
    transform: translateX(5px); }
  100% {
    transform: translateX(0); } }
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-size: 14px;
  line-height: 16px;
  font-family: 'SVN-Gotham Rounded';
  color: #000; }

.dp-flex {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.wraper {
  position: relative; }

.section {
  position: relative; }

.box-product-big {
  display: block;
  position: relative;
  overflow: hidden; }
  .box-product-big:before {
    content: '';
    display: block;
    padding-bottom: 163.17%; }
  .box-product-big img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0.95;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale3d(1.05, 1.05, 1);
    transform: scale3d(1.05, 1.05, 1); }
  .box-product-big:hover img {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  .box-product-big:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 130%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    content: '';
    display: inline-block;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0); }
  .box-product-big:hover:after {
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 123%, 0); }

.box-product-small {
  display: block;
  position: relative;
  overflow: hidden; }
  .box-product-small:before {
    content: '';
    display: block;
    padding-bottom: 78.63%; }
  .box-product-small img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0.95;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale3d(1.05, 1.05, 1);
    transform: scale3d(1.05, 1.05, 1); }
  .box-product-small:hover img {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  .box-product-small:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    content: '';
    display: inline-block;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0); }
  .box-product-small:hover:after {
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 123%, 0); }

.container {
  max-width: 1214px;
  width: 100%;
  margin: 0 auto;
  padding: 0 6px; }

.row-vsd {
  margin: 0 -6px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.row-vsd:after {
  content: '';
  display: table;
  clear: both; }

.row-10:after {
  content: '';
  display: table;
  clear: both; }

.col-pc-6 {
  padding: 0 10px;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  margin-bottom: 7px; }

.container-head {
  max-width: 1790px;
  margin: 0 auto;
  width: 100%; }

.container-banner {
  max-width: 1530px;
  margin: 0 auto;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%); }

.container-sc {
  max-width: 1790px;
  margin: 0 auto;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%); }

.container-banner-bottom {
  max-width: 1530px;
  margin: 0 auto;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 22px; }

.container-next-page {
  max-width: 1790px;
  margin: 0 auto;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 22px; }

.row-list-pro {
  margin: 0 -12px; }
  .row-list-pro:after {
    content: '';
    display: table;
    clear: both; }

.col-list-4 {
  padding: 0 12px;
  width: 33.3333%;
  float: left; }

.col-list-30 {
  padding: 0 15px;
  flex: 0 0 30%;
  -ms-flex: 0 0 30%;
  max-width: 30%; }

.col-list-70 {
  padding: 0 15px;
  flex: 0 0 70%;
  -ms-flex: 0 0 70%;
  max-width: 70%; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; }

.logo {
  float: left;
  margin: 33px 0 0; }
  .logo a {
    display: block; }
    .logo a img {
      width: 228px; }

.ultility {
  float: right; }

.change-language {
  float: left;
  color: #D2EAFF;
  text-transform: uppercase;
  padding: 48px 8px 28px;
  display: inline-block;
  background-image: linear-gradient(#16C64D, #018076);
  position: relative;
  font-weight: 500; }
  .change-language:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 11px solid #fff; }
  .change-language:hover {
    color: #fff; }

.btn-search {
  float: left;
  margin: 46px 0 28px 45px;
  border: none;
  background: none; }

html {
  scroll-behavior: smooth; }

nav {
  float: left; }
  nav .menu li {
    float: left;
    margin: 28px 0 8px; }
    nav .menu li.active a {
      color: #0033A1; }
    nav .menu li.active a:after {
      content: '';
      transform-origin: left;
      transform: scaleX(1); }
    nav .menu li a {
      display: block;
      font-weight: 700;
      padding: 20px 23px; }
      nav .menu li a:after {
        content: '';
        display: block;
        background: #4DD53E;
        height: 2px;
        width: 100%;
        position: relative;
        top: 3px;
        border-radius: 30px;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform 0.75s cubic-bezier(0.19, 1, 0.22, 1); }
      nav .menu li a:hover {
        color: #0033A1; }
      nav .menu li a:hover:after {
        transform-origin: left;
        transform: scaleX(1); }

html, body {
  height: 100%; }

section {
  height: 100vh; }

.head-left-block {
  padding-left: 122px; }

.title-section {
  color: #4DD53E;
  font-family: 'UTM Avo';
  font-weight: 700;
  font-size: 74px;
  text-transform: uppercase;
  margin-bottom: 46px; }
  .title-section .txt-content-section {
    color: #0033A1; }

.list-tag {
  margin-bottom: 50px; }
  .list-tag li {
    font-weight: 700;
    font-size: 16px;
    color: #C4C4C4;
    margin-bottom: 16px;
    text-transform: uppercase; }

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #0033A1;
  background-color: #fff;
  border: none; }
  .nav-tabs .nav-item.show .nav-link:after, .nav-tabs .nav-link.active:after {
    content: '';
    transform-origin: left;
    transform: scaleX(1); }

.nav-tabs .nav-link {
  position: relative;
  border: none;
  font-weight: 700;
  font-size: 20px;
  padding: 21px 0 12px; }
  .nav-tabs .nav-link:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: #4DD53E;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.75s cubic-bezier(0.19, 1, 0.22, 1); }
  .nav-tabs .nav-link:hover:after {
    content: '';
    transform-origin: left;
    transform: scaleX(1); }

.nav-tabs {
  border-bottom: none;
  margin-bottom: 38px; }

.nav-tabs .nav-item {
  margin-right: 50px; }

.list-product {
  max-height: 639px;
  overflow: hidden;
  overflow-y: auto;
  padding-right: 5px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  .list-product::-webkit-scrollbar {
    width: 7px; }
  .list-product::-webkit-scrollbar-track {
    background: #E8E8E8;
    border-radius: 30px; }
  .list-product::-webkit-scrollbar-thumb {
    background: #0033A1;
    border-radius: 30px; }
  .list-product::-webkit-scrollbar-thumb:hover {
    background: #0033A1; }
  .list-product .box-img {
    margin-bottom: 23px; }
    .list-product .box-img:last-child {
      margin-bottom: 0; }

.scroll-down {
  position: fixed;
  bottom: 22px;
  left: calc((100% - 1790px)/2);
  z-index: 9;
  transform: rotate(90deg) translateX(-54px) translateY(55px);
  font-weight: 700; }
  .scroll-down i {
    margin-left: 22px;
    animation: scroll-down 1s infinite; }

.coppy-right {
  font-weight: 500;
  position: fixed;
  bottom: 22px;
  left: calc((100% - 1540px)/2);
  z-index: 9; }

.item {
  height: 100vh; }

.sub-banner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  transform: translateY(-50%); }

.title-banner-sbsi {
  color: #0033A1;
  font-size: 115px;
  font-family: 'UTM Avo';
  font-weight: 700;
  line-height: 123px;
  margin-bottom: 57px; }
  .title-banner-sbsi span {
    color: #51B548; }

.title-banner-golden {
  color: #0033A1;
  font-size: 115px;
  font-family: 'UTM Avo';
  font-weight: 700;
  line-height: 123px;
  margin-bottom: 57px; }
  .title-banner-golden span {
    color: #D9AC28; }

.txt-project {
  font-family: 'UTM Avo';
  font-size: 28px;
  margin-bottom: 5px;
  color: #000;
  font-weight: 700; }

.btn-view-more {
  position: relative;
  padding: 22px 43px;
  display: inline-block;
  color: #49A040;
  background: #fff;
  border-radius: 50px;
  font-weight: 500;
  outline: none;
  background-clip: padding-box;
  border: solid 1px transparent;
  transition: all 0.3s; }
  .btn-view-more:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -1px;
    border-radius: inherit;
    background-image: linear-gradient(to right, #4FD841, #0035A0); }
  .btn-view-more:hover {
    transition: all 0.3s;
    background-image: linear-gradient(to right, #4FD841, #0035A0);
    color: #fff; }
    .btn-view-more:hover i {
      color: #fff; }
  .btn-view-more i {
    color: #49A040;
    margin-left: 15px; }
  .btn-view-more:hover i {
    animation: hvr-icon-right 1s forwards; }

.btn-view-contact {
  margin-left: 44px;
  font-weight: 500; }
  .btn-view-contact:hover {
    color: #49A040; }

.flex-flextend {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }

.next-page-bn {
  display: block;
  padding: 0;
  border: none;
  background: none;
  width: 403px;
  text-align: left;
  outline: none;
  transition: all 0.4s;
  visibility: visible !important;
  animation-name: fadeInUp !important; }
  .next-page-bn:focus {
    outline: none; }
  .next-page-bn .row-page {
    margin: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    box-shadow: 7px 3px 15px -1px #d4d4d4; }
  .next-page-bn .col-50-left {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    background: #F5F5F5;
    padding: 20px 16px;
    font-weight: 500; }
    .next-page-bn .col-50-left .txt-next {
      margin-bottom: 13px; }
      .next-page-bn .col-50-left .txt-next i {
        color: #51B548;
        margin-left: 13px; }
    .next-page-bn .col-50-left .name-pj-next {
      margin-bottom: 13px; }
    .next-page-bn .col-50-left .tag-page span {
      display: block;
      color: #51B548;
      margin-bottom: 9px; }
  .next-page-bn .col-50-right {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative; }
    .next-page-bn .col-50-right .box-img-page {
      position: relative;
      height: 100%;
      content: '';
      display: block;
      padding-bottom: 78%; }
      .next-page-bn .col-50-right .box-img-page img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%; }

.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev:hover, .owl-carousel .owl-nav .owl-next:hover {
  color: #000;
  opacity: 1;
  font-size: 33px; }

.owl-carousel .owl-nav .owl-next {
  right: auto;
  left: 27px; }

.owl-carousel .owl-nav {
  left: calc((100% - 1540px)/2);
  top: 20%;
  width: auto;
  text-align: left; }

/*# sourceMappingURL=main.css.map */
