// ======================================================
// Layout :: Grid
// ======================================================

.container{
  max-width: 1214px;
  width: 100%;
  margin: 0 auto;
  padding: 0 6px;
}
.row-vsd{
  margin: 0 -6px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.row-vsd:after{
  content: '';
  display: table;
  clear: both;
}

.row-10:after{
  content: '';
  display: table;
  clear: both;
}
.col-pc-6{
  padding: 0 10px;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  margin-bottom: 7px;
}
.container-head{
  max-width: 1790px;
  margin: 0 auto;
  width: 100%;
}
.container-banner{
  max-width: 1530px;
  margin: 0 auto;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.container-banner-bottom{
  max-width: 1530px;
  margin: 0 auto;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 22px;
}
.container-next-page{
  max-width: 1790px;
  margin: 0 auto;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 22px;
}
.row-list-pro{
  margin: 0 -12px;
  //display: flex;
  //display: -ms-flex;
  //flex-wrap: wrap;
  //-ms-flex-wrap: wrap;
  &:after{
    content: '';
    display: table;
    clear: both;
  }
}
.col-list-4{
  padding: 0 12px;
  width: 33.3333%;
  float: left;
  //flex: 0 0 33.3333%;
  //-ms-flex: 0 0 33.3333%;
  //max-width: 33.3333%;
}