// ======================================================
// Components :: Slider
// ======================================================

/* fade slider css*/
#fades1{
  position: relative;
  height: calc(100vh - 87px);
}
.fade-slide {
  background:#333;
  color:#fff;
}
.fade-slide.fs-odd {
  background:#000;
}
.fs-nav {
  display:none;
  width:2em;
  height:2em;
  border:1px solid #aaa;
  background:#ddd;
  line-height:2em;
  text-align:center;
  position:absolute;
  top:50%;
  margin-top:-1em;
  border-radius:2em;
}
.fs-hover .fs-nav {
  display:block;
}
.fs-nav-prev {
  left:.5em;
}
.fs-nav-next {
  right:.5em;
}
.fs-nav:hover {
  color:#eee;
  background:#08c;
}
.fs-dots {
  position:absolute;
  display:block;
  bottom:15px;
  left:0;
  width:100%;
  text-align:center;
}
.fs-dots .fs-dot {
  display:inline-block;
  vertical-align:middle;
  margin:4px;
  height:14px;
  width:14px;
  border:1px solid #a3c;
  border-radius:60px;
}
.fs-dots .fs-on {
  border:3px solid #08c;
  height:12px;
  width:12px;
}