// ======================================================
// Base :: Global
// ======================================================

*,*:before,*:after{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  background: #fff;
  font-size: 13px;
  line-height: 16px;
  font-family: "Arial";
}
input:focus,textarea:focus{
  //outline: none;
  //box-shadow: 0 0 4px 1px #164989;
}

.dp-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
